<div class="container glitch-container">
  <div class="login-container">
    <div class="login-logo">
      <div class="glitch">
        <div class="glitch__img"></div>
        <div class="glitch__img"></div>
        <div class="glitch__img"></div>
        <div class="glitch__img"></div>
        <div class="glitch__img"></div>
      </div>
    </div>

    <div class="login-buttons">
      Зайти можно через:
      <a class="login-button button-patreon" href="{{{patreonUrl}}}">Patreon</a> или
      <a class="login-button button-youtube" href="{{{googleUrl}}}">YouTube Membership</a>
    </div>
  </div>
</div>